<% provide :title %>

<% if logged_in? %>
  <div class="row">
    <aside>
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </div>
<% else %>
  <div class="center">
    <h1>Welcome to the Sample App</h1>
    <%= link_to 'Sign up now!', signup_path %>
  </div>

  <%= link_to image_tag('rails.png', alt: 'Rails logo'), 'http://rubyonrails.org/' %>
<% end %>